<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Pembayaran Spp</title>
    <style>
    .container{
        height:600px;
        width:1500px;
    }
    h5{
        height: 50px;
        width: 1100px;
        background-color: red;
        border-radius: 5px;
        padding:10px;
        margin:10px;
        text-align: center;

    }
    </style>
    <div class="container"><br>
        <h5>Pembayaran SPP Smk Jakarta Pusat 1</h5>

        <form class="mt-3">
            <div class="row mb-2">
                <label for="staticEmail" class="col-sm-2 col-form-label">No.induk</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" id="number">
                </div>
            </div>
            <div class="row mb-2">
                <label for="dituju" class="col-sm-2 col-form-label">Nama Siswa</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="Username">
                </div>
            </div>
            <div class="row mb-2">
                    <label for="dituju" class="col-sm-2 col-form-label">Tanggal bayar</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="date">
                    </div>
                </div>
            <div class="row mb-2">
                <label for="dituju" class="col-sm-2 col-form-label">Pembayaran</label>
                <div class="col-sm-3">
                    <select>
                        <option value="X-RPL1">X-RPL1</option>
                        <option value="X-AK1">X-AK1</option>
                        <option value="X-AK2">X-AK2</option>
                        <option value="X-AP1">X-AP1</option>
                        <option value="X-AP2">X-AP2</option>
                        <option value="X-PM1">X-PM1</option>
                        <option value="X-PM2">X-PM2</option>
                        <option value="XI-AK1">XI-AK1</option>
                        <option value="XI-AK2">XI-AK2</option>
                        <option value="XI-AP1">XI-AP1</option>
                        <option value="XI-PM1">X1-PM1</option>
                        <option value="XI-PM2">XI-PM2</option>
                        <option value="XI-RPL1">X1-RPL1</option>
                        <option value="XI-RPL1">XI-RPL2</option>
                        <option value="XII-AKL1">XII-AKL1</option>
                        <option value="XII-AKL2">XII-AKL2</option>
                        <option value="XII-AP1">XII-AP1</option>
                        <option value="XII-AP2">XII-AP2</option>
                        <option value="XII-PM1">XII-PM1</option>
                        <option value="XII-PM2">XII-PM2</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <label for="dituju" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <select>
                        <option value="1">januari</option>
                        <option value="1">Febuari</option>
                        <option value="1">Maret</option>
                        <option value="1">April</option>
                        <option value="1">Mei</option>
                        <option value="1">Juni</option>
                        <option value="1">Juli</option>
                        <option value="1">Agustus</option>
                        <option value="1">September</option>
                        <option value="1">Oktober</option>
                        <option value="1">November</option>
                        <option value="1">Desember</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <label for="dituju" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" id="jumlah" placeholder="jumlah">
                </div>
            </div>
            <div class="row mb-2">
                <label for="dituju" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <button>bayar</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">no</th>
                        <th scope="col">Nama siswa</th>
                        <th scope="col">Kelas</th>
                        <th scope="col">Bulan</th>
                        <th scope="col">Tanggal Bayar</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">Risma</th>
                        <th scope="col">XI-RPL1</th>
                        <th scope="col">Juli</th>
                        <th scope="col">10 oktober 2019</th>
                        <th scope="col">500.000</th>
                        <th scope="col"></th>
                    </tr>
                </tbody>
            </table>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
            </body>

</html>